name: If Demo condition
on: 
  push:
    branches:
      - main
      - develop
jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repository
        run: actions/checkout@v4
      - name: Run if the branch is main/master
        if: github.ref_name == 'master' 
        run: echo "Running this steps main branch"
      - name: run  this step
        run: echo "runing this steps"
