name: If Demo
on: 
  push:
    branches:
      - main
      - develop
jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - name: Run if the branch is main
        if: github.ref_name == 'main' 
        run: echo "Running this steps main branch"
      - name: run  this step
        run: echo "runing this steps"
